# Игнорирование папок __pycache__
__pycache__/

# Игнорирование скомпилированных файлов Python
*.pyc
*.pyo
*.pyd

# Игнорирование виртуального окружения
venv/
env/
.venv/

# Игнорирование файлов конфигурации и секретов
.env
*.env
.flaskenv
*.secret

# Игнорирование бэкапов базы данных
*.backup
*.sql
*.dump

# Игнорирование временных файлов и логов
*.log
*.tmp

# Игнорирование папки для миграций (если используете Flask-Migrate)
migrations/

# Игнорирование IDE-специфичных файлов
.vscode/
.idea/
*.swp